<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="internal-nlog.txt">

	<!-- Rules for mapping loggers to targets -->
	<rules>
		<!-- Ghi mức log >= Info ra console -->
		<logger name="*" minlevel="Info" writeTo="console" />

		<!-- Ghi mức log >= Error ra file -->
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>

	<!-- Các target output -->
	<targets>
		<!-- In ra console -->
		<target xsi:type="Console" name="console" />

		<!-- Ghi ra file -->
		<target xsi:type="File" name="logfile" fileName="Logs/error.log"
				layout="${longdate}|${level}|${logger}|${message}${exception}"
				keepFileOpen="false" concurrentWrites="true"/>
	</targets>
</nlog>
